* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Lucida Handwriting", cursive;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

p {
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: burlywood;
}

.navbar {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    background: maroon;
    background-blend-mode: darken;
    background-size: cover;
    color: white;
    padding: 10px 20px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif ;
    transition: color 0.3s ease-in-out;
}

.nav-list li a:hover {
    color: #ffd700;
}

.rightNav {
    text-align: right;
}

#search {
    padding: 8px;
    font-size: 12px;
    width: 200px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.btn {
    background-color: #ffd700;
    color: #000;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #000;
    /* Change the background color on hover */
    color: #ffd700;
}

.main-search {
    margin-top: 150px;
    margin-left: 300px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    width: 400px;
    margin-left: 279px;
}

.container {
    display: flex;
    justify-content: left;
}
  
.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}
